<mat-toolbar color="primary" class="nav-bar">
  <a class="logo-top" href="https://www.nexplore.com/" target="'_blank"
    ><img src="assets/images/world2meet.svg" alt=""
  /></a>
  <span class="spacer"></span>

  <mat-nav-list class="header-list">
    <a
      mat-list-item
      routerLinkActive="active-link"
      href="assets/pdf/roberto_mazo_cv_english.pdf"
      target="_blank"
      >Roberto Mazo CV
    </a>
    <a
      mat-list-item
      routerLinkActive="active-link"
      href="assets/pdf/Reference_woelfel_robertomazo.pdf"
      target="_blank"
      >Wöelfel Reference
    </a>
    <a
      mat-list-item
      routerLinkActive="active-link"
      href="assets/pdf/Reference_cyberratss_robertomazo.pdf"
      target="_blank"
      >Cyberratss Reference
    </a>
  </mat-nav-list>
</mat-toolbar>
