.logo-top {
  margin-top: 0.5em;
  width: 200px;
}
.nav-bar {
  padding: 0 64px;
  min-height: 80px;
  background-color: #434c50;
  .header-list {
    display: flex;
    a {
      color: white;
    }
  }
}
.spacer {
  flex: 1 1 auto;
}
