.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;

  h1 {
    margin-bottom: 16px;
  }
  form {
    display: flex;
    justify-content: space-between;
    mat-form-field {
      margin-bottom: 16px;
      width: 100%;
    }
  }

  button {
    margin-bottom: 16px;
  }
  .addButton {
    margin-top: 16px;
    margin-left: auto;
    display: block;
  }
}
