<div class="container">
  <h1>Superheroes</h1>
  <form [formGroup]="superheroForm" class="search-form">
    <mat-form-field>
      <input
        matInput
        formControlName="name"
        type="text"
        placeholder="Filtrar por nombre"
      />
      <mat-icon matSuffix class="search-icon" color="primary">search</mat-icon>
    </mat-form-field>
    <mat-form-field class="ml-05">
      <input
        matInput
        formControlName="id"
        type="text"
        placeholder="Filtrar por ID"
      />
      <mat-icon matSuffix class="search-icon">search</mat-icon>
    </mat-form-field>
  </form>

  <h3>Lista</h3>
  <ng-container *ngIf="filteredSuperheroes.length">
    <mat-table [dataSource]="filteredSuperheroes">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let superhero">{{ superhero.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let superhero">{{ superhero.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="strength">
        <mat-header-cell *matHeaderCellDef>Fuerza</mat-header-cell>
        <mat-cell *matCellDef="let superhero">{{
          superhero.strength
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let superhero">
          <button
            mat-icon-button
            color="primary"
            (click)="editSuperhero(superhero)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteSuperhero(superhero)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </ng-container>
  <p *ngIf="!filteredSuperheroes.length">
    <i>No se han encontrado resultados con los criterios de búsqueda</i>
  </p>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true"
  ></mat-paginator>

  <button
    class="addButton"
    mat-raised-button
    color="primary"
    (click)="addSuperhero()"
  >
    Añadir Superhéroe
  </button>
</div>
