<app-header></app-header>
<div>
  <app-superhero-list></app-superhero-list>
  <div class="loading-container" *ngIf="loading">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      diameter="40"
    ></mat-progress-spinner>
    <span class="loading-text">Cargando...</span>
  </div>
</div>
