<h2 mat-dialog-title *ngIf="data">Editar Héroe #{{ data.superhero.id }}</h2>
<h2 mat-dialog-title *ngIf="!data">Añadir Héroe</h2>

<div mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field>
      <input
        matInput
        formControlName="name"
        placeholder="Nombre"
        appUppercase
      />
      <mat-error *ngIf="formControls['name'].hasError('required')"
        >El nombre es obligatorio</mat-error
      >
    </mat-form-field>
    <mat-form-field class="ml-05">
      <input
        matInput
        type="number"
        formControlName="strength"
        placeholder="Fuerza"
      />
      <mat-error *ngIf="formControls['strength'].hasError('required')"
        >La fuerza es obligatoria</mat-error
      >
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="cancel()">Cancelar</button>
  <button
    mat-button
    color="primary"
    (click)="editSuperhero()"
    *ngIf="data"
    [disabled]="editForm.invalid"
  >
    Guardar
  </button>
  <button
    mat-button
    color="primary"
    (click)="addSuperhero()"
    [disabled]="editForm.invalid"
    *ngIf="!data"
  >
    Añadir
  </button>
</div>
