<h1 mat-dialog-title>Confirmación</h1>
<div mat-dialog-content>
  ¿Estás seguro de que deseas eliminar al superhéroe
  <i
    ><b>"{{ data.superhero.name }}"</b></i
  >?
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button
    mat-button
    color="warn"
    [mat-dialog-close]="true"
    (click)="deleteSuperhero()"
  >
    Eliminar
  </button>
</div>
