/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
// GENERIC CLASSES
.ml-05 {
  margin-left: 0.5em;
}
